.un-2rem {
  padding-left: 0rem;
}
.general-button {
  justify-content: center;
  justify-self: center;
  display: flex;
}
.general-alert {
  margin-top: 16px;
  max-width: 500px;
  justify-self: center;
}
.general-input {
  justify-self: center;
  max-width: 300px;
  min-width: 200px;
}
.general-button-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.general-text {
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
  background-color: #cd9130;
  color: #f3f3e3;
  border-radius: 15px;
}
.general-small-text {
  justify-self: center;
  display: flex;
  font-size: 11px;
  justify-content: center;
  margin-top: 10px;
}
.navbar-brand {
  color: #f3f3e3;
  font-size: 1.5rem;
}
.nav-link {
  background-color: #f3f3e3;
  border-radius: 25px;
  margin-left: 10px;
}
body {
  background-color: #f3f3e3;
}
.bg-body-tertiary {
  background-color: #cd9130 !important;
}
.navbar {
  background-color: #cd9130;
}
.navbar-expand {
  background-color: #cd9130;
}
.nav-color {
  background-color: #cd9130;
}
