.login-button {
  justify-content: center;
  justify-self: center;
  display: flex;
}
.login-alert {
  max-width: 500px;
  justify-self: center;
}
.login-input {
  justify-self: center;
  max-width: 300px;
  min-width: 200px;
}
.login-button-container {
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.login-text {
  justify-self: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.create-account-text {
  justify-self: center;
  display: flex;
  font-size: 11px;
  justify-content: center;
  margin-top: 10px;
}
