{% extends 'base.html' %} 
{% block title %} <title> Account </title> {% endblock %}
{% block styles %}
  <link rel="stylesheet" type = "text/css" href="{{ url_for('.static', filename='account.css') }}" />
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages%}
    <ul class = "un-2rem">
      {% for message in messages %}
        {% if message == "User deleted successfully" %} 
          <div class="alert alert-danger alert-dismissible fade show account-alert" role="alert">
            <strong>Warning!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% else %}
          <div class="alert alert-success alert-dismissible fade show account-alert" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
{% if session['username'] %}
<h1 class = "general-text">Welcome {{ session['username'] }}</h1>
<div class = "account-button-container">
  <button class="btn btn-light account-button" onclick="window.location.href='/update'">
    Update Account
  <button class="btn btn-light account-button" onclick="window.location.href='/logout'">
    Log Out
  </button>

</div>
<a href = "/delete" class= "delete-account-text">Delete Account</a>
  {% if session['admin'] == 1 %}
    <p class= "delete-account-text">You have an admin account</p>
  {% endif %}
{% else %}
<h1 class = "account-text">You are not logged in</h1>
<button class="btn btn-light account-button" onclick="window.location.href='/login'">
  Log In
</button>
{% endif %}{% endblock %}
